collectioml/rng/l12n/locationclass/romanprovinceV01.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
	CollectioML Markup Language for Museum Collections

	Copyright (C) 2004-2005 Klaus E. Werner

	This program is free software; you can redistribute it and/or
	modify it under the terms of the GNU General Public License
	as published by the Free Software Foundation; either version 2
	of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.

	Contact the author at werner@collectio.org
    
-->
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0" ns="http://collectio.org/classifications/">
    <define name="locationclass-roman-empire">
        <element name="locationclass">
            <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Cascading location classification
                schema for provinces of the Roman Empire. This definition is not being used so far. The data is
                collected from various sources, mixing provincial systems from different times.</documentation>
            <attribute name="schema">
                <value type="token">Provinces of the Roman Empire</value>
            </attribute>
            <attribute name="coverage">
                <value type="token">Antiquity (2nd century BC to 4th century CE)</value>
            </attribute>
            <element name="country">
                <attribute name="name">
                    <value type="token">Roman Empire</value>
                </attribute>
                <choice>
                    <element name="province">
                        <attribute name="name">
                            <value>Achaea</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Aegyptus</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Africa</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Alpes Cottiae</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Alpes Maritimae</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Alpes Poeninae</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Arabia Petraea</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Asia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Baleares</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Bithynia et Pontus</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Britannia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Britannia Inferior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Britannia Superior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Cappadocia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Cilicia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Creta et Cyrene</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Cyprus</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Daciae Tres</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Dalmatia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Epirus</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Galatia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Gallaecia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Gallia Aquitania</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Gallia Belgica</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Gallia Lugdunensis</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Gallia Narbonensis</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Germania Inferior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Germania Superior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Hispania Baetica</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Hispania Tarraconensis</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Iudaea</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Lusitania</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Lycia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Lycia et Pamphylia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Macedonia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Mauretania Caesariensis</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Mauretania Tingitana</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Mesopotamia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Moesia Inferior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Moesia Superior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Noricum</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Numidia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Pannonia Inferior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Pannonia Superior</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Raetia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Sardinia et Corsica</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Sicilia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Syria</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Syria Coele</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Syria Palaestina</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Syria Phoenicia</value>
                        </attribute>
                    </element>
                    <element name="province">
                        <attribute name="name">
                            <value>Thracia</value>
                        </attribute>
                    </element>
                </choice>
            </element>
        </element>
    </define>
</grammar>
